backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
futures==3.2.0
imageio==2.5.0
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
kiwisolver==1.0.1
matplotlib==2.2.3
networkx==2.2
numpy==1.15.4
opencv-python==3.4.2.17
pandas==0.23.4
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
Pygments==2.7.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
scandir==1.9.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
subprocess32==3.5.3
tensorboardX==1.4
torch==1.0.0
torchvision==0.2.1
traitlets==4.3.2
wcwidth==0.1.7
